body{
    background-color:rgb(233, 240, 250);
    align-items: center;
}


h2{
    border: 2px;
    align-items: left;
    border-bottom: 5px solid lightblue;
    text-align: center;
}



.calendar{
    display: flex;
    justify-content: center;
  padding: 3;
}


table{

border: 1px;
background-color: rgb(196, 255, 252);
padding: 40px;



}

 button{
  width: 6%;
  height: 2%;
  font-size: x-large;
margin-right: 50%;

 
}

.pay img{

width: 40%;
height: 3%;
margin-top: 5%;
margin-right: 30%;
margin-bottom: 4%;

}



