.chat img{


    border-radius: 2%;
    width: 10%;
    height: 10%;
    margin: 1%;

}
 
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 hwb(213 12% 6%);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    height: 2%;
    width: 40%;
  }

  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(194, 233, 245);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 5px;
  }